#include <stdio.h>
#define LONGM1 3
#define LONGM2 4
#define LONGV 20
int maxfila(int matriu[LONGM1][LONGM1], int fila);
void llegirvector (int vector[], int LONGU);
void mostrarvector (int vector[], int LONGU);
void sumavector (int vector[], int vectorsum[], int LONGU);

void main(){
	int matriu[LONGM1][LONGM1], matriu2[LONGM2][LONGM2], res, fila, LONGU, vector[LONGV], vectorsum[LONGV], i, j, sum=0;

	printf("\nIntrodueix els 9 numeros de la matriu.(D'esquerra a dreta/D'adalt a sota.)\n");
	for (i = 0; i < LONGM1; i++)
	{
		for (j = 0; j < LONGM1; j++)
		{
				scanf("%d",&matriu[i][j]);
		}
	}

	for (i = 0; i < LONGM1; i++)
	{
		for (j = 0; j < LONGM1; j++)
		{
			printf("%.d ",matriu[i][j]);
		}
		printf("\n");
	}

	printf("\nIntrodueix els numero de fila per trobar el maxima de la mateixa.\n");
	scanf("%d", &fila);
	getchar();

	res=maxfila(matriu,fila);
	printf("\nEl maxim de la fila %d es:%d.\n",fila,res);

	printf("\nIntrodueix la longuitud que tindrà el teu vector.\n");
	scanf("%d", &LONGU);
	getchar();

	printf("\nIntrodueix els nombres del vector\n"); 
	llegirvector(vector, LONGU);
	getchar();

	sumavector(vector, vectorsum, LONGU);

	mostrarvector(vectorsum, LONGU);

	printf("\nIntrodueix els 16 numeros de la nova matriu.(D'esquerra a dreta/D'adalt a sota.)\n");

	for (i = 0; i < LONGM2; i++)
	{
		for (j = 0; j < LONGM2; j++)
		{
				scanf("%d",&matriu2[i][j]);
		}
	}
	for (i = 0; i < LONGM2; i++)
	{
		for (j = 0; j < LONGM2; j++)
		{
			printf("%.d ",matriu2[i][j]);
		}
		printf("\n");
	}
	for (int i = 0; i < LONGM2; i++)
	{
		for (int j = 0; j < LONGM2; j++)
		{
			if (i==j)
			{
				sum=sum+matriu2[i][j];
			}
		}
	}
	printf("\nLa suma de la diagonal de la matriu es: %d\n",sum);
}













/*Funcion encontrar maximo de una fila en un 3x3*/

int maxfila(int matriu[LONGM1][LONGM1], int fila){ 
	int i,j,max=0; 

	for(i=0; i < LONGM1; i++){ 
		for(j=0; j < LONGM1; j++){ 
			if(matriu[fila-1][j]>max){ max=matriu[fila-1][j];
			} 
		} 
	} 
	return(max); 
}

/*Funcion leer vectores*/

void llegirvector (int vector[], int LONGU){
	int i;
	for (int i = 0; i < LONGU; i++)
	{
		scanf("%d",&vector[i]);
	}
}

/*Funcion mostrar vectores*/

void mostrarvector (int vector[], int LONGU){
	int i;
	for (int i = 0; i < LONGU; i++)
	{
		printf(" %d ",vector[i]);
	}
}

/*Funcion sumar el numero anterior en el vector de longitud LONGV*/

void sumavector (int vector[], int vectorsum[], int LONGU){
	int i;
	vectorsum[0]=vector[0];
	for (int i = 1; i < LONGU; i++)
	{
		vectorsum[i]=vectorsum[i-1]+vector[i];
	}
}
